extends ./layout.pug

block content
  form(method='POST' action='/e')
    input(name='id', type='hidden', value=`${id || ''}`)
    +form-input('title', undefined, title)
    +form-text('body', undefined, body)
    +form-input('tags', undefined, tags)
    +form-checkbox('published', 'Is online', published)
    +form-submit()
